$primary: hsl(230, 35%, 7%);
$accent: hsl(231, 77%, 90%);
$neutral: hsl(0, 0%, 100%);
$primary-transparent: hsla(0, 0%, 100%, 25%);

$background: $primary;

$font-color-body: $accent;

$home-heading: $accent;
$home-heading-large: $neutral;
$home-cta-background: $neutral;

