@use '../../assets/SCSS/base/typography';
@use '../../assets/SCSS/layout/breakpoints';
@use '../../assets/SCSS/layout/flex';
@use '../../assets/SCSS/layout/grid-flow';
@use '../../assets/SCSS/abstracts/variables' as *;
@use '../../assets/SCSS/abstracts/mixins';
@use '../../assets/SCSS/themes/theme';


.destination {
  @include grid-flow.grid-flow {
    grid-template-areas:
      'h'
      'i'
      'n'
      'd'
      's'
      ;
  }

  text-align: center;
  padding-inline: $spacing-300;

  &__heading {
    grid-area: h;
    margin-block-end: $spacing-400;
  }

  &__image {
    --size: 170px;
    @include flex.flex-group {
      justify-content: center;
    }
    grid-area: i;
    margin-block-end: $spacing-350;

    picture {
      width: var(--size);
    }
  }

  &__nav {
    @include flex.flex-group {
      justify-content: center;
    }
    grid-area: n;
    padding-block-end: $spacing-100;
    margin-block-end: $spacing-150;
  }

  &__description {
    grid-area: d;
    margin-block-end: $spacing-400;
  }

  &__stats {
    @include flex.flex-group {
      flex-direction: column;
    }
    grid-area: s;
    padding: $spacing-400 $spacing-300;
    border-top: theme.$neutral-grey 1px solid;
    display: flex;
    flex-direction: column;
    gap: $spacing-400;
  }
}

@include breakpoints.for-tablet {
  .destination {
    padding-inline: $spacing-700;
    &__heading {
      margin-inline-start: -4rem;
      margin-block: $spacing-450 $spacing-550;
      text-align: start;
    }

    &__image {
      --size: 300px;
      margin-block-end: $spacing-500;
    }

    &__nav {
      margin-block-end: $spacing-500;
    }

    &__description {
      margin-block-end: $spacing-500;
    }

    &__stats {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

@include breakpoints.for-desktop {
  .destination {
    grid-template-areas:
      'h h . . . '
      '. i . n .'
      '. i . d .'
      '. i . d .'
      '. i . s .'
    ;
    grid-template-columns: 5vw auto 1fr 30vw 1fr;
    padding-inline: $spacing-900;
    padding-block-start: $spacing-200;
    text-align: start;

    &__heading {
      margin-block: $spacing-650;
    }

    &__image {
      --size: 445px;
    }

    &__stats {
      flex-direction: row;
      justify-content: start;
      gap: $spacing-700;
    }

    &__nav {
      justify-content: start;
      margin-block-end: 0;
    }
  }
}

.nav__list {
  gap: $spacing-300;

  li > a {
    font-size: var(--fs-dest-nav);
    letter-spacing: var(--ls-dest-nav);
  }

}

@include breakpoints.for-tablet {
  .nav__list {
    gap: $spacing-400;
  }
}

@include breakpoints.for-desktop {
  .nav__list {
    gap: $spacing-400;
  }
}


.description {
  &__heading {
    font-family: typography.$ff-accent;
    font-size: var(--fs-dest-heading);
    text-transform: uppercase;
    line-height: $spacing-600;
    color: theme.$neutral;
  }
}

@include breakpoints.for-tablet {
  .description {
    &__heading {
      line-height: 92px;
    }
  }
}

@include breakpoints.for-desktop {
  .description {
    &__heading {
      line-height: 115px;
    }
  }
}

.stat {
  font-family: typography.$ff-accent;
  font-size: var(--fs-dest-stat-value);
  letter-spacing: var(--ls-dest-stat-value);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  color: theme.$neutral;

  span {
    font-family: typography.$ff-body-accent;
    font-size: var(--fs-dest-stat-heading);
    letter-spacing: var(--ls-dest-stat-heading);
    color: theme.$accent;
    display: block;
    margin-block-end: $spacing-150;
  }
}
