@use '../layout/flex';
@use '../abstracts/variables' as *;
@use '../base/typography';

.nav {

  &__list {
    @include flex.flex-group {
      gap: $spacing-400;
    }

    font-family: typography.$ff-body-accent;
    font-size: var(--fs-nav);
    letter-spacing: var(--ls-nav);
    text-transform: uppercase;
    text-align: center;
    padding: 0;

    > li {
      list-style: none;
      cursor: pointer;
    }
  }
}


