<article class="technology">

  <h1 class="technology__heading page-heading">
    <span>03</span>
    Space Launch 101
  </h1>

  <picture class="technology__image">
    <source [srcset]="technology.images.forLandscape" media="(orientation: landscape)">
    <source [srcset]="technology.images.forPortrait" media="(orientation: portrait)">
    <img [src]="technology.images.forPortrait" [alt]="imageAltText">
  </picture>

  <nav class="technology__nav">
    <button *ngFor="let _ of [].constructor(data.length); let i = index"
            (click)="techIndex = i"
            class="btn btn--ghost btn--numbered-dot"
            [class.active]="i === techIndex"
    >{{ i + 1}}</button>
  </nav>

  <div class="technology__description description">
    <h2 class="description__heading">
      The Terminology
      <span>{{ technology.name }}</span>
    </h2>

    <p class="description__body">
      {{ technology.description }}
    </p>
  </div>

</article>
