/* You can add global styles to this file, and also import other style files */
@use 'assets/SCSS/base/reset';
@use 'assets/SCSS/layout/breakpoints';
@use 'assets/SCSS/components/buttons';
@use 'assets/SCSS/components/nav';
@use 'assets/SCSS/themes/theme';
@use 'assets/SCSS/base/typography';
@use 'assets/SCSS/abstracts/variables' as *;

body {
  background: center / cover url(assets/images/home/home-mobile.jpg), theme.$background;
  color: theme.$font-color-body;

}

@include breakpoints.for-tablet {
  body {
    background: center / cover url(assets/images/home/home-tablet.jpg);
  }
}

@include breakpoints.for-desktop {
  body {
    background: center / cover url(assets/images/home/home-desktop.jpg);
  }
}
