/* You can add global styles to this file, and also import other style files */
@use 'assets/SCSS/base/reset';
@use 'assets/SCSS/layout/breakpoints';
@use 'assets/SCSS/components/buttons';
@use 'assets/SCSS/components/nav';
@use 'assets/SCSS/themes/theme';
@use 'assets/SCSS/base/typography';
@use 'assets/SCSS/abstracts/variables' as *;

html {
  background: url(assets/images/home/home-mobile.jpg) no-repeat center center / cover fixed, theme.$background;
}

body {
  color: theme.$font-color-body;
}

@include breakpoints.for-tablet {
  html {
    background: url(assets/images/home/home-tablet.jpg) no-repeat center center / cover fixed, theme.$background;
  }
}

@include breakpoints.for-desktop {
  html {
    background: url(assets/images/home/home-desktop.jpg) no-repeat center center / cover fixed, theme.$background;
  }
}
